<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <Pattern>combined</Pattern>-->
<!--            <Pattern>%fullRequest%n%n%fullResponse</Pattern>-->
            <pattern>%h %l %u %user %date "%r" %s %b</pattern>
        </encoder>
    </appender>

    <appender-ref ref="STDOUT" />

</configuration>